#blockchainExplorer configuration file
#General configuration
CONNECTION = connectionProfile.json
USER = user1
CHANNEL = channel1
CONTRACT = ecotoken
PEM_FILE = crypto-config/peerOrganizations/department1.university1.edu/ca/ca.department1.university1.edu-cert.pem
URL = https://localhost:5054
AS_LOCALHOST = true